<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FILE DEMO</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <a href="/"><h1>Е-щоденник 🎰</h1></a>

    <h1>Метод: <%= method %></h1>

    <pre style="font-family: Consolas;">Файл: <%= JSON.stringify(file, null, 4) %></pre>
</body>

</html>